.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 20px;
}

label {
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}

#search {
  margin-top: 8px;
  width: 180px;
  height: 28px;
  border: none;
  background: transparent;
  border-bottom: 2px solid #333;
}

#brewBtn {
  color: #333;
  padding-left: 4px;
}

#brewBtn:hover {
  cursor: pointer;
  transform: translateY(-4px);
}