h1 {
  color: #333;
  padding: 4px;
  font-weight: 500;
  font-family: 'Vast Shadow', cursive;
  font-size: 36px;
  text-align: center;
}

.header {
  background-color: #f5ac59;
  display: grid;
  grid-template-rows: 80px 32px;
  justify-items: center;
  width: 100% !important;
}