h3 {
  padding: 4px;
}
.results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

/* .brew-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.brewsList {
  list-style-type: none;
  margin: 20px;
  padding: 8px;
  border: 2px solid black;
  border-radius: 4px;
  width: 80%;
  height: fit-content;
  background-color: #f5ac59;
  box-shadow: 4px 4px 10px #3d2203;
}

.brewsList:hover {
  box-shadow: -4px -4px 10px #3d2203;
}

a {
  text-decoration: none;
}