h3 {
  padding: 4px;
  text-align: center;
}

.brew-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 4px;
  row-gap: 20px;
  grid-template-areas: 
  "li li";
  text-align: center;
}

.item-a {
  grid-area: li;
  place-self: center;
}

.brewHead {
  overflow: hidden;
  text-overflow: ellipsis;
}

.brewsList {
  list-style-type: none;
  border: 2px solid black;
  border-radius: 4px;
  height: 180px;
  width: 90%;
  background-color: #f5ac59;
  box-shadow: 4px 4px 10px #3d2203;
  padding: 4px;
}

.brewsList:hover {
  box-shadow: -4px -4px 10px #3d2203;
}

a {
  text-decoration: none;
}

/* Media Query for Mobile Screens */

@media only screen and (max-width: 680px) {
  .brew-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 440px) {
  .brew-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

  }

  .brewsList {
    text-align: center;
  }

  .brewHead {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}